.btn.focus, .btn:focus{
    box-shadow: 0 0 0 0.2rem rgb(80 80 80 / 25%) !important;
}


.bigText{
    font-size: 8vw;
}

.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
   fill: #343a40;
   z-index: 0;
}

@keyframes wavy{
    100%{
        d: path("M0,192L48,202.7C96,213,192,235,288,240C384,245,480,235,576,202.7C672,171,768,117,864,117.3C960,117,1056,171,1152,181.3C1248,192,1344,160,1392,144L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z");
    }   
}

.wave .wave1{ animation: wavy 5s infinite ease-in-out alternate; }

.wave .wave2{ animation: wavy 10s infinite ease-in-out alternate; }

.wave .wave3{ animation: wavy 15s infinite ease-in-out alternate; }

.scroll_down {
    font-size:5rem;
    cursor: pointer;
    color: #828486;
    z-index: 1;
    animation: wiggle 1s ease-in infinite alternate;
}

/*fill didn't work since it's applying the hover effect only on the svg element*/
.scroll_down :hover{
    color: #494f55;
}

@keyframes wiggle {
    100%{
        transform: translateY(20%);
    }
}
.main-page{
    padding-inline: 22%;
    background-color: whitesmoke;
}

.aboutme{
    max-width: 50%;
}

.social-links svg{
    
    font-size: 3.5rem;
}

.experiences{
    
    background-color: #343a40 ;
    width: 100%;
}

.experiences .head{
padding-left: 5rem;
padding-top: 5rem;
}

.experiences .head:hover > .title::before{
    width: 100px;
}
.experiences .head:hover > .title::after{
    width: 70px;
}

.experiences .head .title {
    display: inline;
    color: white;
}

.experiences .head .title::after {
    content: "";
    position: relative;
    display: block;
    width: 100px;
    height: 4px;
    background-color: rgb(197, 197, 197);
    top:10px;
    transition: all .4s ease-in-out;
} 
.experiences .head .title::before {
    content: "";
    position: relative;
    display: block;
    width: 70px;
    height: 4px;
    background-color: #777777;
    top:55px;
    bottom: 0px;
    transition: all .4s ease-in-out;
}

.experiences .body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    
    
}

.experiences .body .link{
    text-decoration: none !important;
    color:#212529;
}

.experiences .body .item{
    background-color: rgb(255, 255, 255);
    width: 45rem;
    border-radius: 5px;
    margin:1rem;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 24%);
    height: 17rem;
    transition: all 0.3s ease-out ;
}

.experiences .body .item::before{
    content: "";
    position: absolute;
    height: 0rem;
    width: 0.4rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: rgb(119, 119, 119);  
    transition: all 0.3s ease-in-out;
}


.experiences .body .item:hover::before {
   height: 17rem;
} 

.item .logo{
    height: 15rem;
    float: left;
    margin: 1rem;
}

.item .title{
    padding:1rem;
}

.item .description{
    min-height: 8rem;
    padding-inline:1rem;
}

.tools{
    display: flex;
    align-items: flex-end;
}

.tools .tool-logo{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 24%);
    margin-inline: 0.2rem;
}

.quote{
    display: block;
    text-align: center;
    color: whitesmoke;
    padding: 3rem;
    
}

.language-switch{
    float: right;
    margin:1rem;
}

.language-switch:hover > .button{
background-color: #343a40;
color: white;

}


.language-switch .button{
    border: 1px solid #343a40;
    border-radius: 4px;
    color: #343a40;
    transition: all 0.4s;
    min-width: 5rem;
}


/* Portrait iPhone */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (orientation: portrait) { 
    .main-page{
        padding-inline: 0%;
    }
    .main-page .bigText{
        font-size: 10rem;
    }
    .main-page h1{
        font-size: 3rem;
    }
    .main-page h6{
        font-size: 2rem;
    }

    .aboutme{
        padding-top:5rem;
        max-width: 80%;
    }

    .scroll_down svg{
        font-size: 8rem;
    }

    .social-links svg{
        margin-block: 4rem;
        margin-inline: 2rem;
        font-size: 8rem;
    }

    .quote h4{
        font-size: 3rem;  
    }

    .quote .bigText{
        font-size: 20rem;
    }
}

/* Landscape compatibility */

@media only screen 
  and (max-device-height: 800px) 
  and (orientation: landscape){

    .scroll_down{
        position: absolute;
        bottom: 0;
        margin-bottom: 0.8rem;
    }
  }


